.body {
  padding: 10px;
}

.skill {
  width: 70%;
  background-color: #ffedd5;
  justify-content: center;
  margin: auto;
}

.skillinfo {
  padding: 50px;
  line-height: 2.2;
  margin-top: 30px;
  text-align: start;
}

ul {
  font-weight: 700;
}

li {
  font-weight: 100;
}

p {
  margin: 0px;
}

@media screen and (max-width: 1400px) {
  .skill {
    width: 90%;
  }
}

@media screen and (max-width: 1070px) {
  .skill {
    width: auto;
  }
}

@media screen and (max-width: 640px) {
    .skillinfo {
      padding: 20px;
      padding-top: 50px;
    }
  }

  @media screen and (max-width: 550px) {
    .skillinfo {
      padding: 10px;
      padding-top: 30px;
    }
  }
