.body {
  padding: 10px;
  padding-top: 20px;
  width: 65%;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.skill {
  background-color: #fff1df;
  justify-content: center;
  margin: auto;
}

.skillinfo {
  padding: 30px;
  padding-top: 40px;
  padding-bottom: 50px;
  line-height: 2.2;
  text-align: start;
}

ul {
  font-weight: 700;
}

li {
  font-weight: 100;
}

@media screen and (max-width: 1400px) {
  .body {
    width: 85%;
  }
}

@media screen and (max-width: 1070px) {
  .skill {
    width: auto;
  }
}

@media screen and (max-width: 660px) {
  .body {
    width:95%;
  }
  
  .skillinfo {
    padding: 12px;
    font-size: 18px;
  }

  ul {
    padding-left: 15PX;
  }
}
