body {
  font-family: "Playfair Display", Georgia, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f3fa;
  font-size: 18px;
  margin: 0 auto;
  clear: both;
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f0f3fa;
}

::-webkit-scrollbar-thumb {
  background: #a7aab0;
}
