.bodys {
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 23px;
  width: 55%;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.aboutme {
  display: inline-flex;
  background-color: #e0e7f3;
  justify-content: center;
  margin: auto;
  border-radius: 5px;
}

.image {
  display: inline-block;
  padding: 30px;
  padding-top: 50px;
}

.img {
  width: 250px;
  height: auto;
  border-radius: 130px;
  filter: grayscale(1);
}

.intro {
  display: inline-block;
  padding: 10px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 10px;
  line-height: 2.0;
  text-align: start;
  font-family: 'Lora', 'Times New Roman', serif;
}

.skll {
            background-color: #f8f9fa;
            padding: 15px;
            border-radius: 5px;
            margin: 20px 0;
        }

  .highlight {
            font-weight: 600;
            color: #3498db;
            padding: 2px 5px;
            border-radius: 3px;
        }

p {
  margin: 0px;
}

h{
  color: yellowgreen;
  background-color: tomato;

}

@media screen and (max-width: 1400px) {
  .bodys {
  width: 75%;
  }
}

@media screen and (max-width: 1070px) {
  .aboutme {
  display: inline-flex;
  }
  .bodys {
  width: 85%;
  }
  .img {
    width: 190px;
  }
}


@media screen and (max-width: 760px) {
  .aboutme {
    display: block;
    }
  .aboutme {
    width: auto;
    }
    .image {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
    }
  
    .img {
      width: 200px;
    }
  
    .intro {
     padding: 30px;
    }
}

@media screen and (max-width: 730px) {
  .aboutme {
    width: auto;
    }
    .image {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
    }
  
    .img {
      width: 200px;
    }
  
    .intro {
     padding: 15px;
    }
}

@media screen and (max-width: 660px) {
  .bodys {
    width: 95%;
  }
  
  .aboutme {
    width:auto;
  }

    .image {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  
    .img {
      width: 170px;
    }
  
    .intro {
     padding: 12px;
     font-size: 18px;
    }
}

