.body {
    padding: 10px;
}

.contacts {
    width: 60%;
    background-color: rgb(239, 246, 225);
    justify-content: center;
    margin: auto;
}

.contactinfo {
   padding: 50px;
    line-height: 2.2;
    margin-top: 30PX;
    text-align: start;
}

p {
    margin: 0px;
}

.Tlink {
    color: black;
    text-decoration: none;
}